{% extends "layout.html" %}

{% block content %}
<h1>About NSS Golf Shots Gallery</h1>

<p>Welcome to the NSS Golf Perfect Shots Gallery project! This is an open-source web application that allows users to
    view and share their perfect score shots for Nintendo Switch Sports Golf. Perfect score shots are Hole in One (Par 3), Eagle (Par 4), and
    Albatross (Par 5). Users can view the images in a grid card format on the gallery page, or can search for specific
    conditions on the <a href="search" target="_blank">search page</a>. Every image can be clicked to view in a larger size and contains
    associated video links for further content. You can submit an image to the site to exapnd the gallery and it will
    appear on the site after an Admin has approved it. Admins have the ability to delete images if necessary.</p>

<h2>Usage Instructions</h2>

<ol>
    <li><strong>Register/Log In:</strong> If you're a new user, <a href="register" target="_blank">register an account.</a> If you're a returning user, you
        should be logged in automatically. If not, <a href="login" target="_blank">log in here!</a></li>
    <li><strong>Browse the Gallery:</strong> The <a href="/" target="_blank">gallery page</a> is where you can see all the images uploaded to the site.
        Click on an image to view it in a larger size. Each video has its associated video link (YouTube, Vimeo, etc.).</li>
    <li><strong>Browse Community Tutorials</strong>If you want to become better at NSS Golf, consider checking out the <a href="tutorials" target="_blank">tutorials page.</a>These videos are made by the community, for the community!</li>
    <li><strong>Uploading a Shot:</strong> If you are logged in, you can <a href="upload" target="_blank">upload your shots!</a> If you make a mistake,
        don't worry! An Admin will review the submission and edit it if necessary before accepting it. If even the Admin can't fix your submission, it will be rejected and the next
        time you log on to the site, you'll see a message explaining how to resubmit your shot!</li>
    <li><strong>Search for a Shot:</strong> If you're looking for a specific shot, or just want to filter the submissions, you can do so <a href="search" target="_blank">here!</a>
</ol>

<hr>

<h2 data-bs-toggle="collapse" href="#devSection" role="button" aria-expanded="false" aria-controls="devSection"
    style="cursor:pointer;">
    <span class="pe-2">For Developers</span>
    <i class="bi bi-chevron-right" id="devArrow"></i>
</h2>


<div id="devSection" class="collapse">

    <p>After some consideration, we decided to make the git repository private. If you'd like to contribute to this project, please email nssgolfshots@gmail.com. </p>

    <h4>Additional Information</h4>

    <p>This project is built with Flask, a lightweight WSGI web application framework. It's designed to make getting
        started quick and easy, with the ability to scale up to complex applications. <a
            href="https://flask.palletsprojects.com/en/2.3.x/" target="_blank">Learn more about Flask</a>.</p>

    <p>Thank you for your interest in our NSS Golf Perfect Shots Gallery project! We look forward to your contribution.
    </p>

</div>

<hr>

<h2>Support Our Work!</h2>
<p>
    We are dedicated to maintaining and updating the NSS Golf Perfect Shots Gallery for golf enthusiasts all around
    the world. If you enjoy using this platform and would like to see it continue to grow, we kindly invite you to
    consider supporting us.
</p>
<p>
    By contributing to our Patreon, your donation will directly aid in the upkeep and enhancement of this site, as
    well as fuel the addition of new features and improvements.
</p>
<p>
    Every little bit helps and is greatly appreciated. Thank you for being a part of our community and for your
    support!
</p>
<a href="https://www.patreon.com/NSSGolfShots" target="_blank" class="btn btn-primary">Donate on Patreon</a>

<hr>

<h2>Contact/Support</h2>
<p>
    If you have any questions, concerns, or suggestions, please feel free to reach out to us at
    <a href="mailto:nssgolfshots@gmail.com">nssgolfshots@gmail.com</a> or on the NSS Golf Community <a href="https://discord.gg/cUCvymUdpu" target="_blank">Discord server</a>.
</p>

{% endblock %}
{% block scripts %}
<script>
    var devSection = document.getElementById('devSection');
    var devArrow = document.getElementById('devArrow');

    devSection.addEventListener('show.bs.collapse', function () {
        devArrow.classList.remove('bi-chevron-right');
        devArrow.classList.add('bi-chevron-down');
    });

    devSection.addEventListener('hide.bs.collapse', function () {
        devArrow.classList.remove('bi-chevron-down');
        devArrow.classList.add('bi-chevron-right');
    });
</script>
{% endblock %}