{% extends "layout.html" %}
{% block content %}
<h1 class="text-center">Admin Page</h1>
<h3 class="text-center">
    When rejecting a submission, specify which post was rejected and the reason to the user. <br>
    Start off with <i>"Your (shot OR tutorial) submission (for hole 'X' OR titled 'X') was rejected because...".</i>
</h3>
<div class="row">
    {% for image in images %}
    <div class="col-xl-4 col-lg-6 col-md-12 col-sm-12 mb-4">
        <div class="card">
            <!-- Add a new data attribute for the image URL and img-trigger class -->
            <img class="card-img-top img-trigger" src="{{ url_for('uploaded_file', filename=image.img_file) }}"
                alt="{{ image.title }}" data-img-url="{{ url_for('uploaded_file', filename=image.img_file) }}"
                data-username="{{ image.user.username }}">
            <div class="card-body">
                <h5 class="card-title">{{ image.title|safe }}</h5>
                <p class="card-text">Video link: <a href="{{ image.youtube_link }}">{{ image.youtube_link }}</a></p>
                <form method="POST">
                    {{ form.csrf_token }}
                    {{ form.image_id(value=image.id, class="form-control d-none") }}
                    <div class="row mt-2">
                        <div class="col-12">
                            {{ form.action(class="form-select") }}
                        </div>
                    </div>
                    <!-- "d-none" class added to hide the rejection reason field by default -->
                    <div id="rejection-reason-container" class="row mt-2 d-none">
                        <div class="col-12">
                            {{ form.rejection_reason(class="form-control") }}
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-12">
                            {{ form.submit(class="btn btn-primary") }}
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    {% endfor %}
    {% for tutorial in tutorials %}
    <div class="col-md-4 mb-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">{{ tutorial.title }}</h5>
                <strong>Category:</strong> {{ tutorial.category }} <br>
                <strong>Uploaded by:</strong> {{ tutorial.user.username }}
            </div>
            <div class="card-footer">
                <a href="{{ tutorial.video_link }}" target="_blank" class="btn btn-primary">Watch Video</a>
            </div>
            <form method="POST">
                {{ form.csrf_token }}
                {{ form.tutorial_id(value=tutorial.id, class="form-control d-none") }}
                <div class="card-footer">
                    <div class="row mt-2">
                        <div class="col-12">
                            {{ form.action(class="form-select") }}
                        </div>
                    </div>
                    <div id="rejection-reason-container" class="row mt-2 d-none">
                        <div class="col-12">
                            {{ form.rejection_reason(class="form-control") }}
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-12">
                            {{ form.submit(class="btn btn-primary") }}
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    {% endfor %}
</div>

<!-- Modal for Image Preview -->
<div class="modal fade" id="imageModal">
    <div class="modal-dialog modal-dialog-centered modal-xl">
        <div class="modal-content">
            <!-- Modal body -->
            <div class="modal-body" style="display: flex; justify-content: center;">
                <img id="modalImage" class="img-fluid" src="" alt="Image">
            </div>
            <!-- Modal footer -->
            <div class="modal-footer" id="modalFooter">
                <div id="uploadedBy" style="flex-grow: 1;"></div>
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block scripts %}
<script>
    var imageModal = new bootstrap.Modal(document.getElementById('imageModal'));
    var modalImg = document.getElementById('modalImage');
    var uploadedBy = document.getElementById('uploadedBy');
    var imgTriggers = document.querySelectorAll('.img-trigger');

    imgTriggers.forEach(function (img) {
        img.addEventListener('click', function (event) {
            modalImg.src = event.target.getAttribute('data-img-url');
            uploadedBy.textContent = "Uploaded by: " + event.target.getAttribute('data-username');
            imageModal.show();
        });
    });

    // Show the rejection reason field if "Reject" is selected
    var actionSelect = document.querySelector('select[name="action"]');
    var rejectionReasonContainer = document.getElementById('rejection-reason-container');

    actionSelect.addEventListener('change', function () {
        if (this.value === 'Reject') {
            rejectionReasonContainer.classList.remove('d-none');
        } else {
            rejectionReasonContainer.classList.add('d-none');
        }
    });
</script>
{% endblock %}