{% extends "layout.html" %}
{% block content %}
{% if user.is_authenticated %}
<h1 class="mb-3" style="text-align: center;">Welcome {{ user.username }}, to the NSS Golf Shots Gallery!</h1>
{% else %}
<h1 class="mb-3" style="text-align: center;">Welcome to the NSS Golf Shots Gallery!</h1>
{% endif %}

<div class="row">
    {% if images|length == 0 %}
    <div class="text-center row" style="display: flex; justify-content: center;">
        <div class="alert alert-light col-8" role="alert">
            <h4 class="alert-heading">No images found!</h4>
            It's looking a little empty, be the first to <a href="upload">upload something!</a>
        </div>
    </div>
    {% endif %}
    {% for image in images %}
    <div class="col-md-4 mb-4">
        <div class="card">
            <!-- Add a new data attribute for the image URL -->
            <img class="card-img-top img-trigger" src="{{ url_for('uploaded_file', filename=image.img_file) }}"
                alt="{{ image.title }}" data-img-url="{{ url_for('uploaded_file', filename=image.img_file) }}"
                data-username="{{ image.user.username }}">
            <div class="card-body">
                <!-- 
                    safe filter is used to prevent Jinja from escaping HTML tags
                    <br> in this case will be rendered as a line break instead of a string
                    look at upload() in the backend routes to see why this is needed
                 -->
                <h5 class="card-title">{{ image.title|safe }}</h5>
                <p class="card-text">
                    <a href="{{ image.youtube_link }}" target="_blank"><strong>Check out the video!</strong></a>
                </p>
                {% if current_user.role_id == 2 %}
                <form id="deleteForm{{ image.id }}" action="" method="post" class="d-inline">
                    <button type="button" class="btn btn-outline-danger float-end" data-bs-toggle="modal"
                        data-bs-target="#deleteConfirmModal" data-img-id="{{ image.id }}" id="delete{{ image.id }}">
                        <i class="bi bi-trash-fill"></i>
                    </button>
                </form>
                {% endif %}
            </div>
            <div class="card-footer">
                Uploaded by: {{ image.user.username }}
            </div>
        </div>
    </div>
    {% endfor %}
</div>

<!-- Modal for Image Preview -->
<div class="modal fade" id="imageModal">
    <div class="modal-dialog modal-dialog-centered modal-xl">
        <div class="modal-content">
            <!-- Modal body -->
            <div class="modal-body" style="display: flex; justify-content: center;">
                <img id="modalImage" class="img-fluid" src="" alt="Image">
            </div>
            <!-- Modal footer -->
            <div class="modal-footer" id="modalFooter">
                <div id="uploadedBy" style="flex-grow: 1;"></div>
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal for Confirm Delete -->
<div class="modal fade" id="deleteConfirmModal" tabindex="-1" aria-labelledby="deleteConfirmModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteConfirmModalLabel">Confirm Delete</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to delete this image?</p>
                <p>This action is irreversible!</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No, cancel</button>
                <button type="button" id="confirmDeleteBtn" class="btn btn-danger">Yes, delete it</button>
            </div>
        </div>
    </div>
</div>

{% endblock %}
{% block scripts %}
<script>
    var imageModal = new bootstrap.Modal(document.getElementById('imageModal'));
    var deleteConfirmModal = new bootstrap.Modal(document.getElementById('deleteConfirmModal'));
    var modalImg = document.getElementById('modalImage');
    var uploadedBy = document.getElementById('uploadedBy');
    var imgTriggers = document.querySelectorAll('.img-trigger');
    var deleteButtons = document.querySelectorAll('[data-bs-target="#deleteConfirmModal"]');
    var confirmDeleteBtn = document.getElementById('confirmDeleteBtn');

    var imageIdToDelete;

    imgTriggers.forEach(function(img){
        img.addEventListener('click', function(event){
            modalImg.src = event.target.getAttribute('data-img-url');
            uploadedBy.textContent = "Uploaded by: " + event.target.getAttribute('data-username');
            imageModal.show();
        });
    });

    deleteButtons.forEach(function(btn){
        btn.addEventListener('click', function(event){
            imageIdToDelete = event.currentTarget.getAttribute('data-img-id'); // store the image id when a delete button is clicked
        });
    });    

    confirmDeleteBtn.onclick = function() {
        var deleteForm = document.getElementById('deleteForm' + imageIdToDelete);
        deleteForm.action = '/delete_image/' + imageIdToDelete;
        deleteForm.submit();
    };
</script>
{% endblock %}
