<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>NSS Golf Shots</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.1/font/bootstrap-icons.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg">
            <div class="mx-auto d-flex flex-wrap align-items-center">
                <a class="nav-item nav-link" href="{{ url_for('gallery', page=1) }}">Gallery</a>
                <a class="nav-item nav-link" href="{{ url_for('tutorials') }}">Tutorials</a>
                <a class="nav-item nav-link" href="{{ url_for('upload') }}">Upload</a>
                <a class="nav-item nav-link" href="{{ url_for('search') }}">Search</a>
                <a class="nav-item nav-link" href="{{ url_for('about') }}">About</a>
                {% if current_user.is_authenticated and current_user.role.id == 2 %}
                <a class="nav-item nav-link" href="{{ url_for('admin') }}">Admin</a>
                {% endif %}
                {% if current_user.is_authenticated %}
                <a class="nav-item nav-link" href="{{ url_for('logout') }}">Logout</a>
                {% endif %}
                {% if not current_user.is_authenticated %}
                <a class="nav-item nav-link" href="{{ url_for('login') }}">Login</a>
                <a class="nav-item nav-link" href="{{ url_for('register') }}">Register</a>
                {% endif %}
            </div>
        </nav>
    </header>
    <main class="container py-4">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <div class="alert alert-light alert-dismissible fade show">
            {% for message in messages %}
            {{ message }}
            {% endfor %}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </main>
    <footer class="footer mt-auto py-3">
        <div class="container">
            <span>&copy; NSS Golf Shots, 2023</span>
        </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
    {% block scripts %}{% endblock %}
</body>
</html>
