{% extends "layout.html" %}
{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-6">
            <h2 style="text-align: center;">Upload</h2>
            <form method="POST" enctype="multipart/form-data">
                {{ form.hidden_tag() }}
                <div class="form-group">
                    {{ form.image.label }} {{ form.image(id="image", accept="image/*", class="form-control-file") }}
                </div>
                <div class="form-group">
                    {{ form.youtube_link.label }} {{ form.youtube_link(id="youtube_link", class="form-control") }}
                </div>

                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            {{ form.hole_number.label }} {{ form.hole_number(id="hole_number", class="form-control") }}
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            {{ form.wind_speed.label }} {{ form.wind_speed(id="wind_speed", class="form-control") }}
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            {{ form.wind_direction.label }} {{ form.wind_direction(id="wind_direction", class="form-control") }}
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            {{ form.flag_position.label }} {{ form.flag_position(id="flag_position", class="form-control") }}
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            {{ form.yard_distance.label }} {{ form.yard_distance(id="yard_distance", class="form-control") }}
                        </div>
                    </div>
                </div>

                <div class="d-grid gap-2">
                    {{ form.submit(class="btn btn-primary") }}
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
