{% extends "layout.html" %}
{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-6">
            <h2 style="text-align: center;">Upload</h2>
            <div class="content-section">
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a class="nav-link u {{ 'active' if active_form=='shot' else '' }}"
                            href="{{ url_for('upload', form='shot') }}">Shot</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link u {{ 'active' if active_form=='tutorial' else '' }}"
                            href="{{ url_for('upload', form='tutorial') }}">Tutorial</a>
                    </li>
                </ul>
                {% if active_form == 'shot' %}
                <form method="POST" enctype="multipart/form-data">
                    {{ form_shot.hidden_tag() }}
                    <div class="form-group">
                        {{ form_shot.image.label }} {{ form_shot.image(id="image", accept="image/*",
                        class="form-control-file")
                        }}
                    </div>
                    <div class="form-group">
                        {{ form_shot.youtube_link.label }} {{ form_shot.youtube_link(id="youtube_link",
                        class="form-control") }}
                    </div>

                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                {{ form_shot.hole_number.label }} {{ form_shot.hole_number(id="hole_number",
                                class="form-control") }}
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group">
                                {{ form_shot.flag_position.label }} {{ form_shot.flag_position(id="flag_position",
                                class="form-control") }}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                {{ form_shot.wind_direction.label }} {{ form_shot.wind_direction(id="wind_direction",
                                class="form-control") }}
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group">
                                {{ form_shot.wind_speed.label }} {{ form_shot.wind_speed(id="wind_speed",
                                class="form-control") }}
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group">
                                {{ form_shot.wind_speed_units.label }} {{
                                form_shot.wind_speed_units(id="wind_speed_units",
                                class="form-control") }}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                {{ form_shot.shot_distance.label }} {{ form_shot.shot_distance(id="shot_distance",
                                class="form-control") }}
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group">
                                {{ form_shot.distance_units.label }} {{ form_shot.distance_units(id="distance_units",
                                class="form-control") }}
                            </div>
                        </div>
                    </div>

                    <div class="d-grid gap-2">
                        {{ form_shot.submit(class="btn btn-primary") }}
                    </div>
                </form>
                <div class="row justify-content-center">
                    <div class="">
                        <div class="text-center">
                            <b>Upload rules:</b>
                            <p class="text-left d-inline-block text-start">
                                1. Image must be a screenshot of the shot in a 16:9 aspect ratio and in good quality.
                                <br>
                                2. The video link must be a link to a video on a free public platform (YouTube, Vimeo,
                                etc.)
                                that verifies the shot shown in the image. <br>
                                3. The stats of the shot must be entered correctly.
                                <br>
                                4. After submitting your image, an Admin will review the submission and either accept or
                                deny it.
                                <br>
                            </p>
                            <i>If you make a mistake, don't worry! The Admin reviewing your submission can edit and fix
                                your mistakes.</i>
                        </div>
                    </div>
                </div>

                <div class="m-4 text-center">
                    <h2 data-bs-toggle="collapse" href="#uploadStepsContainer" role="button" aria-expanded="false"
                        aria-controls="uploadStepsContainer" style="cursor:pointer;">
                        <span>Don't know how to edit an image?</span>
                        <i class="bi bi-chevron-right" id="uploadStepsArrow"></i>
                    </h2>

                </div>
                <div id="uploadStepsContainer" class="collapse">
                    <p class="text-center"> <b>Editing an image is very easy!</b>
                    <div class="uploadSteps text-left text-start">
                        1. Use a photo editing software such as <a href="https://www.photopea.com/" target="_blank">
                            Photopea</a> and create a new project. <br><i>Some Acceptable image sizes are 1280x720,
                            1920x1080, or any other 16:9 image resolutions </i> <br><br>
                        2. Take a screenshot of your clip right <b>before</b> you take your shot so that the minimap,
                        wind, shot distance, etc. is all shown <br><br>
                        3. Paste your screenshot into your project<br><br>
                        4. Take a second screenshot of your clip <b>after</b> you take your shot so that the power meter
                        is shown. <br><i>Make sure your screenshot shows the correct power, wait half a second after
                            your
                            shot to let the power meter fill up properly</i> <br><br>
                        5. Paste your second screenshot into your project <br><br>
                        6. Crop your second screenshot (the power meter one) so that only the power meter remains
                        <br><i>Try to position the meter in the correct location in the image (to the left of your
                            character)</i><br><br>
                        7. Save your image and upload it! <br><br>
                    </div>
                    </p>
                </div>

                {% elif active_form == 'tutorial' %}
                <form method="POST" enctype="multipart/form-data">
                    {{ form_tutorial.hidden_tag() }}
                    <fieldset class="form-group">
                        <div class="form-group">
                            {{ form_tutorial.title.label(class="form-control-label") }}
                            {{ form_tutorial.title(class="form-control form-control-lg") }}
                        </div>
                        <div class="form-group">
                            {{ form_tutorial.video_link.label(class="form-control-label") }}
                            {{ form_tutorial.video_link(class="form-control form-control-lg") }}
                        </div>
                        <div class="form-group">
                            {{ form_tutorial.category.label(class="form-control-label") }}
                            {{ form_tutorial.category(class="form-control form-control-lg") }}
                        </div>
                    </fieldset>
                    <div class="d-grid gap-2">
                        {{ form_shot.submit(class="btn btn-primary") }}
                    </div>
                </form>
                <div class="text-center">
                    <b>Upload rules:</b>
                    <p class="text-left d-inline-block text-start">
                        1. Video must be a tutorial for NSS Golf and in decent quality. <br>
                        2. The title of the tutorial must match or express the point of the tutorial. <br>
                        3. The video link must be a link to a video on a public platform (YouTube, Vimeo, etc.) that
                        teaches others of the category picked. <br>
                        4. The category of the tutorial must be entered correctly, otherwise, the video will not be
                        accepted. <br>
                        5. After submitting your video, an Admin will review the submission and either accept or deny
                        it.
                        <br>
                    </p>
                </div>
                {% endif %}
            </div>
        </div>
    </div>

</div>
{% endblock %}

{% block scripts %}
<script>
    var uploadStepsContainer = document.getElementById('uploadStepsContainer');
    var uploadStepsArrow = document.getElementById('uploadStepsArrow');

    uploadStepsContainer.addEventListener('show.bs.collapse', function () {
        uploadStepsArrow.classList.remove('bi-chevron-right');
        uploadStepsArrow.classList.add('bi-chevron-down');
    });

    uploadStepsContainer.addEventListener('hide.bs.collapse', function () {
        uploadStepsArrow.classList.remove('bi-chevron-down');
        uploadStepsArrow.classList.add('bi-chevron-right');
    });
</script>
{% endblock %}